<h2>All Comments</h2>
<ul>
  {{#each comments}}
    <li><b>{{author}}</b>: {{text}} <i>({{createdAt}})</i></li>
  {{else}}
    <li>No comments yet.</li>
  {{/each}}
</ul>

{{#if user}}
  <a href="/comment/new">Post a Comment</a>
{{else}}
  <p><a href="/login">Login</a> to post a comment.</p>
{{/if}}

